
.homeBoxBanner{
    background-image: url('https://ychef.files.bbci.co.uk/976x549/p01rpz8r.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.homePage{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.packages p{
color: #F05925;
}

.servicesDesign{
    background-color: #e0e6f1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.servicesDesign .service{
    margin:20px;
    padding:20px;
}
.servicesDesign .service img{
width: 100%;
}
.service button{
    width: 40%;
    height: 45px;
    background-color: #222222;
    color:white;
}
.explore1{
    border-left: 3px solid orange;
    padding-left: 12px;
}
.explore2{
    border-left: 12px solid orange;
    padding-left: 12px;
    border-radius: 12px;
}

.post{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.tourPartDesign{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

 .singleTourPart{
   margin:20px ;

}
.singleTourPart img{
    width: 100%;
}

/* -----------------------Responsive part---------------------- */
@media only screen and (max-width:850px){
    .servicesDesign{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .tourPartDesign{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .singleTourPart{
        text-align: center ;
        margin-top: 15px;
        
     }
     .service button{
        width: 100%;
        height: 45px;
        background-color: #222222;
        color:white;
    }

    .post{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
}