.formDesign{
    text-align: center;
}
.formSize{
    text-align: center;
    width: 60%;
}
.formSize input{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    color:red;
}
.inputSpecial{
    background-color: #222222;
    font-weight: 500;
    margin-top: 20px;
}

.formSize .info{
    height: 40px;
}